<h1 align="center"><b>FOODS</b></h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://images2.alphacoders.com/765/thumb-1920-765751.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>LASAGNE</b></h5>
                      <h6><b>Rs. 225</b></h6>
                      <br>
                      <h6><b>A rich and creamy whole-wheat pasta dish filled layer by layer with refreshingly fresh onions and garlic, lathered in a succulent sauce and topped with imported, premium quality mozzarella.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://thumbs.dreamstime.com/b/bbq-chicken-pizza-fresh-barbecue-vegetables-mozzarella-cheese-wooden-top-view-copy-space-pieces-180229438.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>CHICKEN PIZZA</b></h5>
                      <h6><b>Rs. 450</b></h6>
                      <br>
                      <h6><b>An Italian favorite, this chicken pizza recipe is a delicious mix of flat bread or base topped with cheese, chillies, onion, garlic sauce and chunks of chicken.Tossed to perfection, this quick and easy pizza recipe is the solution to all those chicken and cheese cravings.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://www.deccanherald.com/sites/dh/files/article_images/2020/05/19/file79ca63b1h5zfrw4wcdb-1311313696-1582029512.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CHICKEN SHAWARMA</h5>
                      <h6><b>Rs. 125</b></h6>
                      <br>
                      <h6><b>Marinated chicken served in whole meal pita with tomatoes, onions, baked chips and tarator sauce.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://img.freepik.com/premium-photo/fried-chicken-with-french-fries-nuggets-meal_1339-78221.jpg?w=2000" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>FRIED CHICKEN 6 PCS</b></h5>
                      <h6><b>Rs. 750</b> </h6>
                      <br>
                      <h6><b>Chicken dipped in batter and deep fried served with medium fries and ketchup.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://thumbs.dreamstime.com/b/hyderabadi-chicken-biryani-38473399.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>BIRYANI</b></h5>
                      <h6><b>Rs. 575</b></h6>
                      <br>
                      <h6><b>Chicken Biryani is a savory chicken and rice dish that includes layers of chicken, rice, and aromatics that are steamed together. The bottom layer of rice absorbs all the chicken juices as it cooks, giving it a tender texture and rich flavor, while the top layer of rice turns out white and fluffy.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.awesomecuisine.com/wp-content/uploads/2008/02/palak_paneer_recipe.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>PALAK PANEER</b></h5>
                      <h6><b>Rs. 275</b></h6>
                      <br>
                      <h6><b>Palak paneer is a classic curried dish from North Indian cuisine made with fresh spinach, onions, spices, paneer and herbs.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://wallpaperaccess.com/full/1184222.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>CHICKEN BURGER</b></h5>
                      <h6><b>Rs. 175</b></h6>
                      <br>
                      <h6><b>This burger offers a combination of tastes and textures – sweet, sour, salt – with a bit of crunch. The patty is to be juicy, the bun soft but sturdy</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://festivalindia.com.au/wp-content/uploads/2020/05/Vanilla-milk-shake.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>VANILLA MILKSHAKE</b></h5>
                      <h6><b>Rs. 125</b></h6>
                      <br>
                      <h6><b>Vanilla Milkshake, world’s favorite milkshake, is a smooth and creamy concoction of vanilla ice cream, milk, vanilla extract topped up with whipped cream and chocolate vermicelli for irresistible looks.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://www.archanaskitchen.com/images/archanaskitchen/1-Author/Karthika_Gopalakrishnan/Vegan_Mango_Lassi_recipe.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><b>MANGO LASSI</b></h5>
                      <h6><b>Rs. 110</b></h6>
                      <br>
                      <h6><b> Creamy Mango Lassi is a delicious blend of sweet mangoes, yogurt and flavored with cardamom.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img height="250px"src="https://c4.wallpaperflare.com/wallpaper/981/95/699/food-dessert-cake-chocolate-wallpaper-preview.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CHOCOLATE PASTRY</h5>
                      <h6><b>Rs. 105</b></h6>
                      <br>
                      <h6><b>This rich super moist chocolate cake with buttercream frosting is the best. It is perfect for a birthday or a special dessert that's sure to impress.</b></h6>
                      <a href="#" class="btn btn-dark"><b>ADD TO CART</b></a>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </div>
</div>
