<h1 align="center"><b>PAYMENT</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><b>Discount Cards</b></label>
                <select name="" id="" class="form-control">
                    <option value="50% Off on Orders Above 1799">50% Off on Orders Above 1799</option>
                    <option value="15% Off on Orders Above 599">15% Off on Orders Above 599</option>
                    <option value="5% Off on Orders Above 199">5% Off on Orders Above 199</option>
                    <option value="20% Off on Orders Above 799">20% Off on Orders Above 799</option>
                </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><b>Address</b></label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label"><b>Payment</b></label>
                <select name="" id="" class="form-control">
                    <option value="50% Off on Orders Above 1799">50% Off on Orders Above 1799</option>
                    <option value="15% Off on Orders Above 599">15% Off on Orders Above 599</option>
                    <option value="5% Off on Orders Above 199">5% Off on Orders Above 199</option>
                    <option value="20% Off on Orders Above 799">20% Off on Orders Above 799</option>
                </select>
                </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <button class="btn btn-dark">PAY</button>
                    </div>
            </div>
        </div>
    </div>
</div>
